<div class="min-h-screen flex items-center justify-center bg-base-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-base-content">
        Sign in to your account
      </h2>
    </div>
    <%= tag.div(flash[:alert], class: "mt-2 text-center text-sm text-error-content") if flash[:alert] %>
    <%= tag.div(flash[:notice], class: "mt-2 text-center text-sm text-success-content") if flash[:notice] %>
    <%= form_with url: session_path, class: "mt-8 space-y-6" do |form| %>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= form.email_field :email_address,
              required: true,
              autofocus: true,
              autocomplete: "username",
              placeholder: "Email address",
              value: params[:email_address],
              class: "input input-bordered w-full rounded-t-md rounded-b-none" %>
        </div>
        <div>
          <%= form.password_field :password,
              required: true,
              autocomplete: "current-password",
              placeholder: "Password",
              maxlength: 72,
              class: "input input-bordered w-full rounded-b-md rounded-t-none" %>
        </div>
      </div>
      <div>
        <%= form.submit "Sign in",
            class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>
