<%= turbo_frame_tag "modal_content_#{document.id}" do %>
  <div class="flex flex-col space-y-4">
    <!-- Tab Navigation -->
    <div class="tabs tabs-bordered">
      <button data-modal-target="summaryButton" data-action="modal#showSummaryView" class="tab tab-bordered tab-active">
        Summary
      </button>
      <button data-modal-target="metadataButton" data-action="modal#showMetadataView" class="tab tab-bordered">
        PDF Details
      </button>
      <button data-modal-target="historyButton" data-action="modal#showHistoryView" class="tab tab-bordered">
        History
      </button>
    </div>
    <!-- Summary View (Previously PDF View) -->
    <div data-modal-target="summaryView">
      <!-- Summary Input Area -->
      <div data-controller="summarize" data-summarize-document-id-value="<%= document.id %>" class="flex space-x-2 items-start mb-4 text-wrap">
        <p data-summarize-target="display"><%= document.summary&.undump %></p>
        <% if document.summary.nil? %>
          <button data-action="click->summarize#getSummary" data-summarize-target="button" class="btn btn-primary btn-sm">
            <i class="fas fa-wand-magic-sparkles mr-1"></i>
            Summarize Document
          </button>
          <button class="btn btn-primary btn-sm hidden" data-summarize-target="preloader">
            <span class="loading loading-spinner"></span>
            Summarizing...
          </button>
        <% end %>
      </div>
      <iframe src="<%= document.url %>#pagemode=none&toolbar=1" class="w-full h-[calc(90vh-8rem)]" type="application/pdf"></iframe>
    </div>
    <!-- PDF Details View -->
    <div data-modal-target="metadataView" class="hidden h-[calc(90vh-12rem)] overflow-y-auto bg-white rounded-md">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4 mt-4">
        <!-- Document Details -->
        <div>
          <div class="space-y-4 px-3">
            <div>
              <div class="text-sm font-medium text-gray-500 mb-1">File Name</div>
              <div class="text-sm text-gray-900 break-words whitespace-normal"><%= document.file_name %></div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Last Modified</div>
              <div class="text-sm text-gray-900"><%= document.modification_date&.strftime("%B %d, %Y") %></div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Type</div>
              <div class="text-sm">
                <span class="bg-primary-100 text-sm text-gray-900 px-2 py-1 rounded-full">
                  <%= document.document_category.present? ? document.document_category : "uncategorized" %>
                </span>
              </div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Decision</div>
              <div class="text-sm">
                <span class="bg-primary-100 text-sm text-gray-900 px-2 py-1 rounded-full">
                  <%= document.accessibility_recommendation.present? ? document.accessibility_recommendation : "undetermined" %>
                </span>
              </div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Pages</div>
              <div class="text-sm">
                <span class="bg-primary-100 text-sm text-gray-900 px-2 py-1 rounded-full">
                  <%= document.number_of_pages %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Document Metadata -->
        <div>
          <div class="space-y-4 px-3">
            <div>
              <div class="text-sm font-medium text-gray-500 mb-1">Author</div>
              <div class="text-sm text-gray-900">
                <%= format_metadata(document.author) %>
              </div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Created On</div>
              <div class="text-sm text-gray-900"><%= document.creation_date&.strftime("%B %d, %Y") %></div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Keywords</div>
              <div class="text-sm text-gray-900"><%= format_metadata(document.keywords) %></div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Producer</div>
              <div class="text-sm text-gray-900"><%= format_metadata(document.producer) %></div>
            </div>
            <div class="border-t pt-4">
              <div class="text-sm font-medium text-gray-500 mb-1">Version</div>
              <div class="text-sm text-gray-900"><%= format_metadata(document.pdf_version) %></div>
            </div>
          </div>
        </div>
        <!--  Notes -->
        <div class="col-span-1 md:col-span-2 px-3" data-controller="modal-notes" data-modal-notes-document-id-value="<%= document.id %>">
          <h3 class="text-md font-semibold text-gray-600 mb-2 flex items-center">
            Notes
          </h3>
          <textarea
          data-modal-notes-target="textarea"
          class="w-full h-16 p-2 text-sm border rounded-lg focus:border-primary-500 focus:ring-primary-500"
          placeholder="Add your notes here..."
        ><%= document.notes %></textarea>
          <div class="mt-2 flex justify-end">
            <button class="btn btn-primary btn-sm" data-action="modal-notes#updateNotes">
              <i class="fas fa-save mr-1"></i>
              Update Notes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- History View -->
    <div data-modal-target="historyView" class="hidden h-[calc(90vh-12rem)] overflow-y-auto">
      <div class="space-y-4 p-4">
        <div class="space-y-4">
          <% document.versions.each do |version| %>
            <div class="border rounded-lg p-4 bg-white shadow-sm">
              <div class="flex items-center justify-between mb-2">
                <div class="text-sm font-medium text-gray-900">
                  <%= version.event.titleize %>
                </div>
                <div class="text-sm text-gray-500">
                  <%= version.created_at.strftime("%B %d, %Y %I:%M %p") %>
                </div>
              </div>
              <div class="mt-3 space-y-2">
                <% version.changeset.each do |field, values| %>
                  <div class="text-sm">
                    <span class="font-medium text-gray-700"><%= field.humanize %>:</span>
                    <span class="text-red-600 line-through"><%= values[0].presence || "blank" %></span>
                    <span class="mx-2">→</span>
                    <span class="text-green-600"><%= values[1].presence || "blank" %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
